.wrapper {
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../../img/Main_page_light.jpg);
    background-size: cover;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.trigger {
    position: absolute;
    left: -16px;
    top: 17px;
    width: 12.5px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger-rectangle {
    position: absolute;
    top: calc(50vh - 33px);
    right: -20px;
    width: 0;
    height: 66px;
    margin: auto;
    border-left: 20px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.trigger-rectangle:hover .trigger {
    color: #1890ff;
}

.logo {
    height: 34px;
    margin: 48px 0 58px 30px;
    background: url(../../img/Logo_full.svg) no-repeat;
    background-size: 133px;
}
